body {
  background: #F4F4F4;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #16ABF8;
  min-height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-wrapper {
  padding: 43px 220px;
}
.header-title {
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  margin: 0 220px;
}

.header-activity-title {
  font-weight: 700;
  font-size: 36px;
  text-align: left;
  margin: 0 32px;
}

.header-activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.add-btn {
  background: #16ABF8;
  border-radius: 45px;
  width: 159px;
  height: 54px;
  border: none;
  color: white;
}
.card-activities {
  /* max-width: 235px; */
  max-height: 234px;
  background: #FFFFFF;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1) !important;
  border-radius: 12px !important;
  padding: 22px 27px;
  cursor: pointer;
}

.activity-title {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  height: 166px;
  margin: 0;
}
.activity-action {
  padding: 0 !important;
  justify-content: space-between;
}
button {
   font-size: 18px;
   font-weight: 600;
   font-family: 'Poppins';
   cursor: pointer;
   border: none;
   background: transparent;
   display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.cancel-btn {
  background: #F4F4F4;
  border-radius: 45px;
  color: #4A4A4A;
  padding: 13px 14px;
  width: 150px;
}
.delete-btn {
  background: #ED4C5C;
  border-radius: 45px;
  width: 150px;
  color: white;
  padding: 13px 14px;
}
.dialog-actions {
  justify-content: center !important;
}
.dialog {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.card-todo {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1) !important;
  border-radius: 12px !important;
  height: 80px;
  margin-bottom: 10px;
  align-items: center;
  padding: 0 28px;
}
.card-todo-list {
  display: flex;
  align-items: center;
}
.card-todo-done {
  text-decoration: line-through;
  color: #888888;
}
.title-form {
  font-weight: 600;
  font-size: 12px;
  color: #111111;
  margin: 9px 0;
}
.save-button {
  background: #16ABF8;
  border-radius: 45px;
  width: 150px;
  height: 54px;
  color: white;
  margin: 7px 32px;
}
.list-item input {
  font-family: 'Poppins' !important;
  border: 1px solid #E5E5E5 !important;
  border-radius: 6px !important;
  height: 17px !important;
}
.edit-activity input {
  font-size: 36px;
  font-weight: 700;
  font-family: 'Poppins';
}

.warning-modal{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
  border-radius: 12px !important;
  overflow: unset !important;
  width: 490px;
  margin: 0 auto;
}
.edit-activity .MuiTextField-root  {
  margin: 0 32px !important;
}
.sort-btn {
  border: 1px solid #E5E5E5;
    border-radius: 45px;
    width: 54px;
    height: 54px;
    margin-right: 18px;
}
.sort-list {
  position: absolute;
  top: 60px;
  border: 1px solid #E5E5E5 !important;
  border-radius: 6px !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
  text-align: left;
  display: grid;
  grid-template-rows: repeat(5,48px);
  align-items: center;
  width: 240px;
}

.sort-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E5E5E5;
  height: 50px;
  padding: 0 24px;
  cursor: pointer;
  justify-content: space-between;
}

.sort-item:hover {
  background-color: #e9ecef;
}
.disable-btn {
  background: #16ABF8;
  opacity: 0.2;
  border-radius: 45px;
  width: 150px;
  height: 54px;
  color: white;
  margin: 7px 32px;
  cursor:default;
}
.choose-prio {
  background: #F4F4F4;
  border: 1px solid #E5E5E5;
  border-radius: 6px 6px 0px 0px;
  width: 205px;
  height: 52px;
  font-weight: 400;
  font-size: 16px;
  justify-content: space-between;
  padding: 14px 17px;
  /* position: relative; */
}
.prio-list {
  position: absolute;
  bottom: -118px;
  left: 30px;
  border: 1px solid #E5E5E5 !important;
  border-radius: 6px !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
  text-align: left;
  display: grid;
  grid-template-rows: repeat(5,48px);
  align-items: center;
  width: 205px;
}
.prio-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E5E5E5;
  height: 50px;
  padding: 0px 17px;
  cursor: pointer;
  justify-content: space-between;
}
.prio-item:hover {
  background-color: #e9ecef;
}
.add-item {
  width: 830px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
  border-radius: 12px !important;
  position: relative;
  overflow: unset !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
